<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less"/>
    <title>Document</title>
</head>
<body>
    <h1>EXERCÍCIO-02</h1>

    <h2>Exemplo do uso de LESS</h2>

          <a href="ex02">Exercício02</a>
          <a href="less">Home</a>
          <a href="historia">História</a>

    <P><b>Lorem, ipsum</b> dolor sit amet consectetur adipisicing elit. Enim fuga
         fugiat inventore modi, aut ea! Natus cumque vero obcaecati neque earum consectetur,
          asperiores aliquid harum quibusdam omnis corporis provident nemo?</P>

          <div id="div-1">
              <b>Div 1</b> 1Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum nobis necessitatibus
               hic eligendi soluta fuga fugit ducimus laboriosam, dolor quia placeat
                veritatis itaque blanditiis voluptatem asperiores temporibus odit accusantium? Doloremque!,
          </div> <br/>    
          
          <div id="div-2">
              <b>Div 2</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia velit aut sint iste 
              esse vitae eligendi illo dolorum nisi repudiandae recusandae ipsum fugit ullam, totam, omnis sunt. 
              Reiciendis, eveniet?
          </div> <br/>       

          <div id="div-3">
              <b>Div 3</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, necessitatibus, omnis 
            impedit obcaecati voluptas maiores blanditiis mollitia sed maxime voluptatem sunt, velit repellat nesciunt 
            nostrum eos? Ratione tenetur qui tempora!
          </div>


          
<script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
<script>
    less ={env: 'production'};/*pode ser prodution - se for developmer mostra erros no ...*/
</script>
</body>
</html>