<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/styles.less" />
    <title>Document</title>
</head>
<body>
    <h1>Título</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit doloribus, corrupti consequatur dolore inventore dolorem cum sequi deserunt enim? Autem reprehenderit quam iure asperiores amet quae labore eaque illum enim.</p>

    <a href="historia">História</a>

    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
</body>
</html>