<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/styleExercicio01.less">
    <title>Exercício01</title>
</head>
<body>

   
        <h1>Exercício01</h1>
        <h2>Exemplo de uso de LESS</h2>

    <a href="exercicio01">Exercício01</a>
    <a href="less">Home</a>
    <a href="historia">História</a>

    <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit. Ea eos sit dolores alias accusantium tempore inventore iusto repudiandae corrupti ex, molestias odit pariatur commodi nisi aliquid doloremque dolore laboriosam animi.</p>
    <br/>

    <div id="div-1"><b>Div 1</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sunt iusto qui non fugit maxime. Ut asperiores, necessitatibus eos quaerat tenetur fugiat culpa voluptate? Hic blanditiis ut dolorum recusandae quae.</div>
    <br/>
    <div id="div-2"><b>Div 2</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam dolorem inventore vel, recusandae accusantium quo quod ea cumque id eaque debitis beatae? Possimus accusamus velit mollitia laborum quasi. Nemo?</div>
    <br/>
    <div id="div-3"><b>Div 3</b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla numquam labore asperiores omnis cumque quia possimus odit qui aliquid pariatur iusto eligendi eius provident ipsam, et exercitationem voluptatum, rem molestias?</div>
    
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
    <script>
        less = {env: 'production'};
    </script>

</body>
</html>